.App {
  text-align: center;
  /* Removed position, top, bottom, left, right, and height to allow content to define size */
  /* padding: 1rem; */ /* Removed as p-4 is used in JSX */
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}
